<div class="box box-info">
  <form name="sucursalForm" ng-submit="vm.saveSucursal(vm.sucursalServices.sucursal, sucursalForm.$valid)" id="sucursalForm"  novalidate>
    <div class="box-body">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
         <div class="col-sm-3">
          <fieldset>
            <div class="form-group text-center">
              <img data-ng-src="{{vm.imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
            </div>
            <div class="text-center form-group" ng-if="!vm.uploader.queue.length">
              <span class="btn btn-default btn-file">
                Subir Imagen <input ng-model="vm.sucursalServices.sucursal.picturesURL" type="file" nv-file-select uploader="vm.uploader" >
              </span>
            </div>
            <div class="text-center form-group" ng-if="vm.uploader.queue.length">
             <a class="btn btn-danger btn-sm" data-ng-click="vm.cancel()"><i class="fa fa-trash"></i></a>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <md-switch ng-model="vm.sucursalServices.sucursal.isActive" aria-label="Activo" class="text-center checkMargin">
               Activo
             </md-switch>
           </div>
         </div>
     </fieldset>
   </div>
<div class="col-sm-9">
 <div class="row">
  <div class="col-sm-12">
    <div class="form-group"
    ng-class="{'has-error': !sucursalForm.name.$valid && ( !sucursalForm.$pristine || sucursalForm.$submitted),
    'has-success': sucursalForm.name.$valid && ( !sucursalForm.$pristine || sucursalForm.$submitted)}
    ">
    <label class="control-label" >Nombre:</label>
    <input type="text" ng-model="vm.sucursalServices.sucursal.name" id="name" name="name" autocomplete="off" class="form-control" required>
    <p class="help-block" ng-show="sucursalForm.name.$error.required && ( !sucursalForm.$pristine || sucursalForm.$submitted)">
     Este campo es requerido
   </p>
 </div>
</div>
</div><!-- /.row -->
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="patientPolisa">Tipo Documento:</label>
      <input type="text" ng-model="vm.sucursalServices.sucursal.tipoDocumento" id="name" name="name" autocomplete="off" class="form-control">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="patientPolisa">Documento</label>
      <input type="text" ng-model="vm.sucursalServices.sucursal.documento" id="name" name="name" autocomplete="off" class="form-control">
    </div>
  </div>
</div><!-- /.row -->
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="patientPolisa">Representante:</label>
      <input type="text" ng-model="vm.sucursalServices.sucursal.representante" id="name" name="name" autocomplete="off" class="form-control">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="patientPolisa">Teléfono</label>
      <input type="text" ng-model="vm.sucursalServices.sucursal.telefono" id="name" name="name" autocomplete="off" class="form-control">
    </div>
  </div>
</div><!-- /.row -->
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="patientPolisa">Dirección:</label>
       <textarea class="form-control" ng-model="vm.sucursalServices.sucursal.direccion" rows="3" placeholder="Enter ..."></textarea>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="patientPolisa">Email</label>
      <input type="text" ng-model="vm.sucursalServices.sucursal.email" id="name" name="name" autocomplete="off" class="form-control">
    </div>
  </div>
</div><!-- /.row -->
<div class="row">
  <div class="col-sm-12 text-right paddingRight">
    <a ng-click="vm.cancelForm()" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</div>

</div>
</div><!-- /.box-body -->
</form>
</div><!-- /.box -->
