<div  class="modal" >
	<div class="modal-dialog" >
		<div class="modal-content" >
			<div class="modal-header" >
			<div class="modeltitle">
				<button type="button"
				        class="close"
				        ng-click="vm.createModal.hide()" >&times;</button >
		  </div>
			</div >
			<div class="modal-body" >
				<form ng-submit="vm.save()" name="createCustomerForm"
				      class="form-horizontal"
				      novalidate >
					<ng-include src="'modules/customers/partials/customer-form.html'" ></ng-include >
				</form >
			</div >
		</div >
       </div >
</div >