<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.lote.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.lote.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="lotes.edit({ loteId: vm.lote._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.lote.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.lote.user"
            data-ng-bind="vm.lote.user.displayName"></span>
      <span data-ng-if="!vm.lote.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.lote.content"></p>
</section>
