<div class="box box-info">
  <form name="productForm" ng-submit="vm.saveProduct(vm.productServices.product, productForm.$valid)" id="productForm" class="form-horizontal" novalidate>
    <div class="box-body">
      <div class="col-sm-12">
        <div class="row">
         <div class="col-sm-3">
          <fieldset>
            <div class="form-group text-center">
              <img data-ng-src="{{vm.imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
            </div>
            <div class="text-center form-group" ng-if="!vm.uploader.queue.length">
              <span class="btn btn-default btn-file">
                Subir Imagen <input ng-model="vm.productServices.product.picturesURL" type="file" nv-file-select uploader="vm.uploader" >
              </span>
            </div>
            <div class="text-center form-group" ng-if="vm.uploader.queue.length">

             <a class="btn btn-danger btn-sm" data-ng-click="vm.cancel()"><i class="fa fa-trash"></i></a>
           </div>
           <div data-ng-show="success" class="text-center text-success">
            <strong>Profile Picture Changed Successfully</strong>
          </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <md-switch ng-model="vm.productServices.product.isActive" aria-label="Activo" class="text-center checkMargin">
               Activo
             </md-switch>
           </div>
         </div>
         <div class="box box-info">
           <div class="box-header">
            <h5> Impuestos </h5>
          </div>
          <div class="box-body">
            <div class="form-group" ng-repeat="tax in vm.productServices.companyInfo.impuestosList track by tax.imp_Type">
              <div class="col-sm-12">
                <md-switch ng-model="vm.productServices.product.taxesFlag[tax.imp_Type]"
                ng-change="vm.productServices.taxeChange(vm.productServices.product.taxesFlag[tax.imp_Type], $index)" aria-label="Activo" class="md-warn text-center checkMargin">
                {{tax.imp_Type}}
              </md-switch>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <md-switch ng-model="vm.productServices.product.isPOS" aria-label="Activo" class="text-center checkMargin">
           Visualizar en Caja
         </md-switch>
       </div>
     </div>
     <div class="form-group">
      <div class="col-sm-12">
        <md-switch ng-model="vm.productServices.product.lotes" aria-label="Activo" class="text-center checkMargin">
         Lotes
       </md-switch>
     </div>
   </div>
   <div class="form-group">
    <div class="col-sm-12">
      <md-switch ng-model="vm.productServices.product.ventaDetalle" aria-label="Activo" class="text-center checkMargin">
       Venta al detalle
     </md-switch>
   </div>
 </div>
 <div class="form-group">
  <div class="col-sm-12">
    <md-switch ng-model="vm.productServices.product.receta" aria-label="Activo" class="text-center checkMargin">
     Receta
   </md-switch>
 </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <md-switch ng-model="vm.productServices.product.servicio" aria-label="Activo" class="text-center checkMargin">
     Servicio
   </md-switch>
 </div>
</div>
</fieldset>
</div>
<div class="col-sm-9">
  <div class="row">
   <div class="col-sm-6">
    <div class="form-group" ng-if="vm.authentication.sucursal === 'superUser' && vm.productServices.saveMode != 'update'">
     <label class="control-label col-sm-2" >Sucursal</label>
     <div class="col-sm-10">
<!--      <oi-select
     oi-options="item.name for item in vm.sucursalList track by item._id"
     ng-change="vm.search()"
     ng-model="vm.productServices.product.sucursalId"
     placeholder="Relacionados"
     ></oi-select>
   -->
   <oi-select
   oi-options="item.name for item in vm.sucursalServices.getSucursalByCompany(vm.authentication.user.companyId) track by item._id"
   ng-model="vm.productServices.product.sucursalId"
   ng-change="vm.validateSucursalForm()"
   placeholder="Relacionados"
   ></oi-select>
 </div>
</div>
</div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group"
    ng-class="{'has-error': !productForm.name.$valid && ( !productForm.$pristine || productForm.$submitted),
    'has-success': productForm.name.$valid && ( !productForm.$pristine || productForm.$submitted)}
    ">
    <label class="col-sm-3 control-label" >Nombre:</label>
    <div class="col-sm-9">
      <input type="text" ng-model="vm.productServices.product.name" id="name" name="name" autocomplete="off" class="form-control" required>
      <p class="help-block" ng-show="productForm.name.$error.required && ( !productForm.$pristine || productForm.$submitted)">
       Este campo es requerido
     </p>
   </div>
 </div>
</div>
<div class="col-sm-6">
<!--   <div class="form-group">
    <label class="control-label" for="patientPolisa">Unid. Medida</label>
    <input type="text" ng-model="vm.productServices.product.uMedida" placeholder="Unidad de Medida" uib-typeahead="param._id as param.name for param in vm.paramRestServices.getParamsFilterByParent($viewValue, 'Unidad Medida')"
    typeahead-on-select="onSelectDoctor($item, $model, $label)"
    typeahead-no-results="noResults" class="form-control">
  </div>
-->

<div class="form-group" ng-class="{'has-error': !productForm.bardCode.$valid && ( !productForm.$pristine || productForm.$submitted),
'has-success': productForm.bardCode.$valid && ( !productForm.$pristine || productForm.$submitted)}
">
<label class="col-sm-3 control-label noPadding">Cod. Barra</label>
<div class="col-sm-9">
  <div>
    <input type="text" data-ng-model="vm.productServices.product.bardCode" id="bardCode" name="bardCode" autocomplete="off" class="form-control" required>
  </div>
  <p class="help-block" ng-show="productForm.bardCode.$error.required && ( !productForm.$pristine || productForm.$submitted)">
   Este campo es requerido
 </p>
</div>

</div>


</div>
</div><!-- /.row -->
<div class="row">
  <div class="col-sm-6">
    <div class="form-group" ng-class="{'has-success': vm.productServices.product.category}
   ">
      <label class="col-sm-3 control-label" for="patientPolisa">Categoría:</label>
<!--       <input type="text" ng-model="vm.productServices.product.category" placeholder="Categoria" uib-typeahead="param._id as param.name for param in vm.paramRestServices.getParamsFilterByParent($viewValue, 'Categoria')"
      typeahead-on-select="onSelectDoctor($item, $model, $label)" typeahead-no-results="noResults" class="form-control">
    -->
    <div class="col-sm-9">
      <oi-select
      oi-options="item.desc for item in vm.paramRestServices.getParamByAncestors() track by item._id"
      ng-change="vm.categoryChange(vm.productServices.product.category)"
      oi-select-options="{
      newItem: true,
      cleanModel: true,
      newItemFn: 'addCategory($query)'}"
      ng-model="vm.productServices.product.category" placeholder="Categoria">
    </oi-select>
  </div>
</div>
<!--     <div ng-if="noResults">
      No Results Found!
    </div> -->
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-3 control-label noPadding" for="patientPolisa">Marca:</label>
      <div class="col-sm-9">
     <!--    <oi-select
        oi-options="item.name for item in vm.subCategoryList track by item._id"
        oi-select-options="{
        newItem: true,
        cleanModel: true,
        newItemFn: 'addSubCategory($query)'}"
        ng-model="vm.productServices.product.Subcategory" placeholder="Sub Categoria">
      </oi-select> -->
       <oi-select
    oi-options="item.name for item in vm.paramRestServices.getParamsFilterByParent($viewValue, 'Marcas Producto') track by item._id"
     oi-select-options="{
      newItem: true,
      cleanModel: true,
      newItemFn: 'addBrand($query)'}"
    ng-model="vm.productServices.product.brand" placeholder="Marca">
  </oi-select>
    </div>
  </div>
</div>
</div><!-- /.row -->
<div class="box box-danger">
  <div class="box-header">
   <div class="row">
    <div class="col-sm-4">
      <div class="form-group text-left">
        <label class="col-sm-5 control-label noPadding" for="patientPolisa">Uni. Compra</label>
        <div class="col-sm-7">
          <oi-select
          ng-change="vm.productServices.validateUnits()"
          oi-options="item.name for item in vm.paramRestServices.getParamsFilterByParent($viewValue, 'Tipo Unidades') track by item._id""
          ng-model="vm.productServices.product.unidadCompra" placeholder="Categoria">
        </oi-select>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label class="col-sm-4 control-label noPadding" for="patientPolisa">Uni. Venta</label>
      <div class="col-sm-8">
        <oi-select
        oi-options="item.name for item in vm.paramRestServices.getParamsFilterByParent($viewValue, 'Tipo Unidades') track by item._id"
        ng-change= "vm.productServices.validateUnits()"
        ng-model="vm.productServices.product.unidadVenta" placeholder="Presentación">
      </oi-select>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="form-group">
    <label class="col-sm-4 control-label noPadding">
      Unidades
    </label>
    <div class="col-sm-8">
      <input ng-disabled="vm.productServices.product.unidadVenta._id === vm.productServices.product.unidadCompra._id" type="number" select-on-click ng-change="vm.productServices.unidChanged()"  ng-model="vm.productServices.product.unidades" class="form-control" ng-class="{ 'shortCierre': (vm.productServices.product.unidades == undefined)}"
      data-type="info" data-animation="am-fade-and-scale" data-trigger="manual" bs-tooltip ="{title: 'Campo Requerido'}" data-placement="auto bottom-left" data-bs-show="vm.productServices.product.unidades == undefined"
      >
    </div>
  </div>
</div>
</div><!-- /.row -->

<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label class="col-sm-6 control-label noPadding" for="patientPolisa">Precio Compra</label>
      <div class="col-sm-6">
        <input type="text" select-on-click ui-number-mask="2" ng-model="vm.productServices.product.cost"
        ng-change="vm.productServices.changeCost()"
        class="form-control">
      </div>
    </div>
  </div>
  <div class="col-sm-3 noPadding">
    <label class="col-sm-4 control-label" style="float: left; text-align: left; padding-left: 0px;"> x   {{vm.productServices.product.unidadCompra._id}}</label>
    <div class="col-sm-7 noPadding">
      <md-switch ng-model="vm.productServices.product.neto" ng-change="vm.applyNeto()" aria-label="Activo" class="md-primary text-center checkMargin">
       Neto
     </md-switch>
   </div>

 </div>
      <!-- <div class="col-sm-2 noPadding">

    </div> -->
    <div class="col-sm-5 ">


     <!-- <p><span>Pre. Sin Impuesto: </span> <label><span> {{vm.productServices.product.taxcost | currency}} </span>   x {{vm.productServices.product.unidadCompra._id}}</label> <label style="margin-left: 30px"><span> {{vm.productServices.product.d_cost | currency}} </span>   x {{vm.productServices.product.unidadVenta._id}}</label></p> -->
   </div>
 </div><!-- /.row -->
 <div class="row">
  <div class="col-sm-7">
    <label class="col-sm-12 control-label" style="text-align: left">
      <span>Pre. Sin Impuesto: </span> <span style="
      margin-left: 10px; */
      "> {{vm.productServices.product.taxcost | currency}} </span>   x {{vm.productServices.product.unidadCompra._id}} <span style="
      margin-left: 30px; */
      "> {{vm.productServices.product.d_cost | currency}} </span>   x {{vm.productServices.product.unidadVenta._id}}
    </label>
  </div>
</div>
<!-- <div class="row">
<div class="col-sm-6">
  <div class="form-group">
    <div class="col-sm-6">
      <input type="number" ng-model="vm.productServices.product.cost" class="form-control" readonly="">
    </div>
    <div class="col-sm-6">
      <input type="text" ui-number-mask="2" ng-model="vm.productServices.product.cost" class="form-control" readonly="">
    </div>
  </div>
</div>
</div> -->
</div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-12 product">
      <table class="table table-condensed table-striped table-bordered table-hover">
        <tr>
          <th></th>
          <th class="col-1 text-center">Precio: 1</th>
          <th class="col-1 text-center">Precio: 2</th>
          <th class="col-1 text-center">Precio: 3</th>
          <th class="col-1 text-center">Precio: 4</th>
        </tr>
        <tr>
          <td style="width: 20%;"><label class="control-label">Margen Beneficio</label></td>
          <td> <input select-on-click type="text" ui-number-mask="2" ng-disabled="vm.productServices.product.unidades === null"  ng-model="vm.productServices.product.precios.uno.m_utilidad" class="form-control text-right"
            ng-change="vm.productServices.unoUtilidad(vm.productServices.product.precios.uno.m_utilidad)"
            ></td>
            <td><input type="text" ng-disabled="vm.productServices.product.unidades === null" select-on-click ui-number-mask="2" ng-model="vm.productServices.product.precios.dos.m_utilidad" class="form-control text-right" ng-class="{ 'shortCierre': (vm.productServices.product.precios.dos.pVenta > 0 && vm.productServices.product.precios.dos.m_utilidad <= 0)}" ng-change="vm.productServices.dosUtilidad(vm.productServices.product.precios.dos.m_utilidad)"
              data-type="info" data-animation="am-fade-and-scale" data-trigger="manual" bs-tooltip ="{title: 'No margen de beneficio'}" data-placement="top-left" data-bs-show="(vm.productServices.product.precios.dos.pVenta > 0 && vm.productServices.product.precios.dos.m_utilidad <= 0)"

              ></td>
              <td><input type="text" ng-disabled="vm.productServices.product.unidades === null" select-on-click ui-number-mask="2" ng-class="{ 'shortCierre': (vm.productServices.product.precios.tres.pVenta > 0 && vm.productServices.product.precios.tres.m_utilidad <= 0)}" ng-model="vm.productServices.product.precios.tres.m_utilidad" class="form-control text-right" ng-change="vm.productServices.tresUtilidad(vm.productServices.product.precios.tres.m_utilidad)"
                data-type="info" data-animation="am-fade-and-scale" data-trigger="manual" bs-tooltip ="{title: 'No margen de beneficio'}" data-placement="top-left" data-bs-show="(vm.productServices.product.precios.tres.pVenta > 0 && vm.productServices.product.precios.tres.m_utilidad <= 0)"
                ></td>
                <td><input type="text" ng-disabled="vm.productServices.product.unidades === null" select-on-click ui-number-mask="2" ng-model="vm.productServices.product.precios.cuatro.m_utilidad" class="form-control text-right"
                  ng-class="{ 'shortCierre': (vm.productServices.product.precios.cuatro.pVenta > 0 && vm.productServices.product.precios.cuatro.m_utilidad <= 0)}"
                 ng-change="vm.productServices.cuatroUtilidad(vm.productServices.product.precios.cuatro.m_utilidad)"
                  data-type="info" data-animation="am-fade-and-scale" data-trigger="manual" bs-tooltip ="{title: 'No margen de beneficio'}" data-placement="top-left" data-bs-show="(vm.productServices.product.precios.cuatro.pVenta > 0 && vm.productServices.product.precios.cuatro.m_utilidad <= 0)"
                  ></td>
                </tr>
                <tr>
                  <td><label class="control-label">Precio Venta Neto</label></td>
                  <td class="text-right"><label class="control-label text-right">{{vm.productServices.product.precios.uno.pVenta | currency}} </label></td>
                  <td class="text-right"><label class="control-label text-right"> </label>{{vm.productServices.product.precios.dos.pVenta | currency}} </td>
                  <td class="text-right"><label class="control-label text-right"> </label> {{vm.productServices.product.precios.tres.pVenta | currency}}</td>
                  <td class="text-right"><label class="control-label text-right"> </label> {{vm.productServices.product.precios.cuatro.pVenta | currency}}</td>
                </tr>
                <tr>
                  <td><label class="control-label">Precio Venta</label> </td>
                  <td> <input type="text" ng-disabled="vm.productServices.product.unidades === null" select-on-click ui-number-mask="2" ng-model="vm.productServices.product.precios.uno.p_ventaNeto" class="form-control text-right"
                    ng-change="vm.productServices.unoVentaNetoChange()"></td>
                    <td><input type="text" ng-disabled="vm.productServices.product.unidades === null" select-on-click ui-number-mask="2"  ng-model="vm.productServices.product.precios.dos.p_ventaNeto" ng-change="vm.productServices.dosVentaNetoChange()" class="form-control text-right"></td>
                    <td><input type="text" ng-disabled="vm.productServices.product.unidades === null" select-on-click ui-number-mask="2" ng-model="vm.productServices.product.precios.tres.p_ventaNeto" class="form-control text-right" ng-change="vm.productServices.tresVentaNetoChange()"></td>
                    <td><input type="text"  ng-disabled="vm.productServices.product.unidades === null" select-on-click ui-number-mask="2"  ng-model="vm.productServices.product.precios.cuatro.p_ventaNeto" class="form-control text-right" ng-change="vm.productServices.cuatroVentaNetoChange()"></td>
                  </tr>
                  <tr>
                    <td><label class="control-label">Al Por Mayor</label> </td>
                    <td> <input type="number" ng-disabled="vm.productServices.product.unidades === null" select-on-click min="0"  ng-model="vm.productServices.product.precios.uno.p_porMayor" class="form-control text-right" readonly></td>
                    <td><input select-on-click  ng-disabled="vm.productServices.product.unidades === null" ui-manual-tooltip message="vm.productServices.product.precios.dos.p_porMayor" type="number" min="0" ng-model="vm.productServices.product.precios.dos.p_porMayor" class="form-control text-right" ng-class="{ 'shortCierre': (vm.productServices.product.precios.dos.pVenta > 0 && vm.productServices.product.precios.dos.p_porMayor <= 0)}" data-type="info" data-animation="am-fade-and-scale" data-trigger="manual" bs-tooltip ="{title: 'Campo Requerido'}" data-placement="bottom" data-bs-show="(vm.productServices.product.precios.dos.pVenta > 0 && vm.productServices.product.precios.dos.p_porMayor <= 0)"></td>
                    <td><input  select-on-click ng-disabled="vm.productServices.product.unidades === null"  type="number" min="0" ng-model="vm.productServices.product.precios.tres.p_porMayor" class="form-control text-right"></td>
                    <td><input ng-disabled="vm.productServices.product.unidades === null"  select-on-click type="number" min="0" ng-model="vm.productServices.product.precios.cuatro.p_porMayor" class="form-control text-right"></td>
                  </tr>
                </table>
              </div>

            </div>
  <!-- <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">Precio Compra</label>
      <input type="text" data-ng-model="vm.productServices.product.cost" id="cost" name="cost" autocomplete="off" class="form-control" ui-number-mask="2">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="patientPolisa">Precio Venta</label>
      <input type="text" data-ng-model="vm.productServices.product.price" id="price" name="price" autocomplete="off" class="form-control" ui-number-mask="2">
    </div>
  </div> -->
</div><!-- /.row -->
<div class="row">
 <div class="col-sm-12">
  <div class="box box-danger">
    <div class="box-header">
      <h3 class="box-title">
        <md-checkbox class="noMarginBotton" ng-model="vm.productServices.product.warehouseControl" aria-label="Checkbox 1">
         Control de Almacen
       </md-checkbox>
     </h3>
   </div>
   <div class="box-body">
     <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-6 control-label noPadding">Inv. Minimano</label>
          <div class="col-sm-6">
            <input type="Number" select-on-click data-ng-model="vm.productServices.product.minimumStock" min="0" id="minimumStock" name="minimumStock" autocomplete="off" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-6 control-label noPadding">Inv. Maximo</label>
          <div class="col-sm-6">
            <input type="Number" select-on-click data-ng-model="vm.productServices.product.maximumStock" min="0" id="maximumStock" name="maximumStock" autocomplete="off" class="form-control" ng-class="{ 'shortCierre': (vm.productServices.product.minimumStock > 0 && (vm.productServices.product.maximumStock >= 1 && vm.productServices.product.minimumStock >= vm.productServices.product.maximumStock))}" data-type="info" data-animation="am-fade-and-scale" data-trigger="manual" bs-tooltip ="{title: 'Valor minimo es mayor'}" data-placement="bottom-left" data-bs-show="(vm.productServices.product.minimumStock > 0 && (vm.productServices.product.maximumStock >= 1 && vm.productServices.product.minimumStock >= vm.productServices.product.maximumStock))">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-4 control-label noPadding">Localización</label>
          <div class="col-sm-6">
            <input type="text" data-ng-model="vm.productServices.product.localizacion" min="0"  name="localizacion" autocomplete="off" class="form-control">
          </div>
        </div>
      </div>
<!--
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-4 control-label">Stuck</label>
          <div class="col-sm-8">
            <input type="Number" data-ng-model="vm.productServices.product.inStock" min="0" id="patientPolisa" name="inStuck" autocomplete="off" class="form-control" >
          </div>
        </div>
      </div> -->
    </div><!-- /.row -->
    <div class="row">
     <div class="col-sm-12">
      <textarea rows="2" ng-trim="false" ng-model="vm.productServices.product.description" name:"Descripcion" id="description" maxlength="200" class="form-control" placeholder="Descripcion">
      </textarea>
    </div>
  </div>
  <div ng-hide="(vm.authentication.sucursal === 'superUser' && !vm.productServices.product.sucursalId)" ng-show="(vm.authentication.sucursal === 'superUser' && vm.productServices.product.sucursalId)" class="row" style="margin-top: 15px;">
   <div class="col-sm-12">
    <md-checkbox ng-model="vm.productServices.product.productPromotion" aria-label="COMBO o PROMOCION">
     Este producto es un COMBO o PROMOCION
   </md-checkbox>
 </div>
</div>
</div>
</div>
</div>
</div>
</div><!-- end off col-8-->
</div><!-- /.row -->
<div class="row" ng-if="vm.productServices.product.productPromotion">
  <div class="col-sm-12">
    <div class="box box-solid box-info">
     <div class="box-header">
      <h3 class="box-title">
        Indicar el o los productos que forman parte de este COMBO o PROMOCION</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
       <md-content flex layout-padding>
         <div class="product-promotion-content product">

          <table class="table table-bordered table-hover table-condensed">
           <th class="col-2">Producto</th>
           <th class="col-2">Cantidad</th>
           <th class="col-2">Costo</th>
           <th class="col-2">Precio</th>
           <th class="col-2">Importe</th>

           <tr ng-repeat="product in vm.productServices.product.listProductPromotion">
            <td data-title="'#'">
              <span>{{product.name}}</span>
            </td>
            <td>

             <div ng-if="vm.editMode && (product._id == vm.productServices.tempSelectedProduct._id)">
              <input class="form-control" id="editable" type="Number" ng-model="vm.product.Editvalue" />
              <a class="btn btn-sm btn-success" ng-click="vm.saveField($index, product);vm.editMode = fase"><span>
               Guardar
             </span></a>
            </div>
           <div ng-if="!vm.editMode">
            <a class="btn btn-sm btn-success buttonEditCompras" ng-click="vm.editMode = true; vm.editAppKey(product)"><span>
             {{product.qt}}
           </span></a>
         </div>
       </td>
       <td>
        <span >{{product.cost | currency }}</span>
      </td>

      <td>
        <span >{{product.price | currency}}</span>
      </td>
      <td data-title="'Pago'">
        {{product.total | currency}}
      </td>
      <td class="pull-right">
        <div>
          <a href="#" data-skin="skin-red-light" class="btn btn-danger btn-xs" ng-disabled="parameter.systemParam"><i class="fa fa-trash"
            ng-bootbox-confirm="Al eliminar este item eliminara su dependencia ¿seguro de querer eliminar parametro?"
            ng-bootbox-confirm-action="parameter.systemParam || vm.deletePromoItem($index)"></i></a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</md-content>
<div class="form-group">
  <div class="col-sm-1">
   <input type="Number" ng-model="vm.product.qt" class="form-control">

 </div>
 <div class="col-sm-11">
   <input type="text" ng-model="vm.productServices.product.promotionItems" placeholder="Filtrar Producto" uib-typeahead="param as param.name for param in vm.getProductFilter($viewValue)"
   typeahead-on-select="vm.selectedProduct($item, $model, $label)" typeahead-no-results="noResults" class="form-control">
 </div>

 <label style="margin-left: 20px;" class="control-label">Buscar producto para agregar a COMBO o PROMOCION</label>
</div>
</div><!-- /.box-body -->
</div>
</div>
</div>

<div class="row">
  <div class="col-sm-12 text-center paddingRight">
    <a ng-click="vm.cancelForm()" class="btn btn-danger">Cancelar</a>
     <a ng-click="vm.generateKey()" class="btn btn-success"><i class="fa fa-key"> </i></a>
    <button type="submit" ng-disabled="((vm.productServices.product.precios.dos.pVenta > 0 && vm.productServices.product.precios.dos.p_porMayor <= 0) || (vm.productServices.product.minimumStock > 0 && (vm.productServices.product.maximumStock >= 1 && vm.productServices.product.minimumStock >= vm.productServices.product.maximumStock)))" class="btn btn-primary">Guardars</button>
    <!--   <a ng-click="vm.generateKey()" class="btn btn-success">Generar Clave</a> -->
  </div>
</div>

</div>
</div><!-- /.box-body -->
</form>
</div><!-- /.box -->
