<div class="col-md-4 col-sm-5 col-lg-3 col-xs-6" >
  <div class="well well-sm" >
    <div class="row" >
      <div class="col-xs-12 col-sm-12" >
      <div class="text-center">
       <i class="fa fa-train "
        ng-class="{'cashCierreturnoOff':!cajas.inUse, 'cashCierreturnoOn':cajas.inUse}"
       ></i>
       </div><br/>
        <p>
        <i class="fa fa-key">
            {{cajas.cajaId}}  </i>
            <br/>
        <i class="fa fa-user" >
            <span ng-if="cajas.inUse">{{cajaturnoInfo.createdUser.displayName}}</span><span ng-if="!cajas.inUse">Disponible</span></i>
        <br/>
          <i class="fa fa-search" ></i >
           {{ cajas.name}}
           <br />
           <i class="fa fa-building" ></i >
             {{cajas.sucursalId.name}}
             {{cajas._id}}
           </p >
           <div class="text-center">
           <a ng-if="!cajaturnoInfo && !cajas.inUse" ng-click="openCash(cajas)"  class="btn btn-info X">Abrir Caja</a>

           <div ng-if="cajaturnoInfo.caja === cajas._id" class="btn-group">
                      <button ng-click="goPos()" type="button" class="btn btn-info">Comenzar Venta</button>
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
            </div>


           </div>

     </div >
     <!-- <div class="col-xs-12 col-sm-8" >

         <a ng-click="openCash(cajas)" ng-if="!cajas.inUse && !cajaturnoInfo._id"  class="btn btn-info">Abrir Caja</a>
         <div class="btn-group" ng-if="(cajaturnoInfo.createdUser._id === authentication.user._id && cajas.cajaturno === cajaturnoInfo._id)">
                      <button ng-click="goPos()" type="button" class="btn btn-info">Comenzar Venta</button>
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
            </div>
     </div > -->
   </div >
 </div >
</div >


