<div class="wrapper">
  <ng-include src="'modules/core/views/menu.left.template.html'" ></ng-include >
    <div class="content-wrapper">
    <section class="content-header padding-botton">
              <!-- <h1>
              Inventario
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Almacen</a></li>
              <li class="active">Listado de Inventario</li>
            </ol> -->
      </section>
      <section class="content">
       <div class="row">
        <div class="col-sm-12">
             <parameter-list></parameter-list>
        </div>
     </div>
   </section>
 </div>
 <ng-include src="'modules/core/views/menu.footer.template.html'" ></ng-include >
</div>














