<div style="height: 300px">
<table class="table table-fixed"
 >
 <thead>
  <tr>
  <th class="col-xs-3">Nombre</th>
  <th class="col-xs-3">Teléfono</th>
  <th class="col-xs-3">Límite Crédito</th>
  <th class="col-xs-3" >Saldo</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="customer in vm.customerServices.customersList" ng-click="vm.setClient(customer)">
    <td class="col-xs-3">{{customer.name}} {{customer.lastName}}</td>
    <td class="col-xs-3">{{customer.phone | phonenumber}}</td>
    <td class="col-xs-3">{{customer.autorizedAmmount | currency}}</td>
    <td class="col-xs-3">{{customer.peddingAmmount | currency}}</td>
    </tr>
    </tbody>
  </table>
   <!-- <dir-pagination-controls  on-page-change="vm.loadMore(newPageNumber, oldPageNumer)">
  </dir-pagination-controls> -->
  <div ng-show="vm.customerServices.customersList.length == 0 && !vm.customerServices.isLoading" >
  <div class="alert alert-info" >
    <p class="text-center" >Ningun resultado fue encontrado en termino a la busqueda '{{vm.customerServices.customerName }}'</p >
    </div >

  </div >
  <cc-spinner is-loading="vm.customerServices.isLoading"
  message="Cargando..." ></cc-spinner>
</div>

