<div  class="modal" >
	<div class="modal-dialog" >
		<div class="modal-content" >
			<div class="modal-header" >
				<div class="modeltitle">
					<button type="button"
					class="close"
					ng-click="vm.createModal.hide()" >&times;</button >

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" >Filtrar Nombre</label>
			     <input
				  type="text"
			      name="name"
				ng-model="vm.customerServices.search"        placeholder="Buscar..."
								ng-model-options="{ debounce: 300 }"
								class="form-control"
								autocomplete="off">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body" id="customerListModel"
			infinite-scroll-parent
			infinite-scroll-container="'#customerListModel'"
			 infinite-scroll="vm.loadMore()"
             infinite-scroll-distance="1">
				<div>
                 <div ng-include="'modules/sales/partials/customers.html'"></div/>
				</div>
			</div>
		</div>
	</div>
</div>