<div layout="row" >
<md-whiteframe id="categoryList" class="md-whiteframe-1dp cartFrame1" flex layout-padding layout >
 <div flex="70"  id="categoryFader" >
	<ul class="nav nav-pills">
	<li ng-class="{active :  vm.selectedCategory === 'Categoria'}"><a  ng-click="vm.getCategories('Categoria'); vm.setCategoryValue('Categoria'); vm.getCategoryProducts()"><i class="fa fa-home"></i>
	</a>
	</li>

	 <li role="presentation" ng-repeat="category in vm.categorieList" ng-class="{active :  vm.selectedCategory ===  category}">
	  <a  ng-click="vm.getCategories(category); vm.setCategoryValue(category); vm.getCategoryProducts(category)" >
									<span ng-if="category != 'Categoria'">{{category}}</span>
								</a>
							</li>
						</ul>
</div>
<div flex="10">
<input id="qt" select-on-click type="text"  ng-model="vm.product.qt" select-on-click ng-virtual-keyboard="{kt: 'Numerico', relative: false, keyCenter: 4, numberPad: true, customClass: 'myCustomizedVkt'}"  ui-number-mask="0" class="form-control">
</div>

<div flex="20">
 <input type="text" ng-model="vm.salesCart" autofocus ng-disabled="vm.product.formaPago" placeholder="Filtrar Producto" uib-typeahead="param as param.name for param in vm.getProductFilter($viewValue)"
					typeahead-on-select="vm.selectedItem($item, $model, $label)" typeahead-no-results="noResults" class="form-control">
</div>
</md-whiteframe>
</div>
<div layout="row" ng-if="vm.parameterServices.children.length > 0">
	<md-whiteframe id="categoryListDetails" class="md-whiteframe-1dp" flex layout-padding layout >
		<div id="categoryChildren" ng-repeat="children in vm.parameterServices.children">
			<button  class="btn btn-primary borderRadius" ng-click="vm.getCategoryProducts(children)">
				{{children.name}}
			</button>
		</div>
	</md-whiteframe>
</div>
<div class="row productRowPadding">
<div class="col-sm-12 productMainContainer"  id="productMainContainer"
 infinite-scroll-parent
 infinite-scroll-container="'#productMainContainer'"
 infinite-scroll="vm.loadMoreProduct()"
 infinite-scroll-distance="1">
	<div class="col-md-3 col-lg-2 col-sm-3"  id="productItemContainer" ng-repeat="product in vm.productServices.productList">
		<div ng-click="vm.selectedItem(product)" class="well well-sm productItemContainer2" >
			<div class="row" >
				<div>
					<div class="col-md-12" >
						<span class="badge bg-green">{{product.price | currency}}</span>
						<img id="productImg" ng-src="{{ product.picturesURL  | defaultImage: 'modules/core/img/no-imagen.jpg'}}"
						alt=""
						class="img-rounded img-responsive " />
						<p id="ProductP">
							<i class="fa fa-bookmark-o" ></i >
								<span class="productItemColor">{{ product.name }}</span>
							</p>
						</div >
					</div>
				</div>
			</div >
		</div >
</div >
</div>