<div  class="modal" >
	<div class="modal-dialog" >
		<div class="modal-content" >
			<div class="modal-header" >
				<div class="modeltitle">
					<button type="button"
					class="close"
					ng-click="vm.createModalSales.hide()" >&times;</button >
				</div>
	             <div class="box-header with-border">
                   <h2 class="box-title">Listado de Espera</h2>
	             </div>
			</div>
			<div class="modal-body" id="customerListModel">
				<div>
                 <div ng-include="'modules/sales/partials/sales.html'"></div/>
				</div>
			</div>
		</div>
	</div>
</div>