<div class="wrapper">
 <ng-include src="'modules/core/views/top-header.client.view.html'"></ng-include>
 <ng-include src="'modules/core/views/menu.left.template.html'" ></ng-include >
  <div class="content-wrapper">
    <section class="content-header padding-botton">
    </section>
    <section class="content">
     <div class="row product">
       <div class="col-sm-12">
         <div class="box">
           <div class="box-header text-center">
            <a class="btn btn-app" ng-click="vm.showCreateNcfModal()">
              <span class="badge bg-purple"></span>
              <i class="fa fa-plus"></i> Agregar
            </a>
          </div>
          <div class="row">
          <div class="col-sm-12">
           <ng-include src="'modules/ncfs/partials/ncfList.html'" ></ng-include >
           </div>
         </div>
        </div>
       </div>
     </div>
   </section>
 </div>
 <ng-include src="'modules/core/views/menu.footer.template.html'" ></ng-include >
 </div>