<div>
  <section class="content">
   <div class="row">
     <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3">
      <div class="info-box">
        <!-- Apply any bg-* class to to the icon to color it -->
        <span class="info-box-icon bg-aqua"><i class="fa fa-building"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Compañía</span>
          <span class="info-box-number">{{vm.partnerServices.total}}</span>
          <!-- {{vm.test}} -->
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div>
  </div>
  <div class="row partner">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Información General</h3>
          <a class="btn btn-app pull-right" ng-click="vm.showCreatePartnerModal()">
            <span class="badge bg-purple"></span>
            <i class="fa fa-plus"></i> Agregar
          </a>
        </div><!-- /.box-header -->
      <div class="box-body">
      <div class="row">
       <div class="col-sm-12">

         <table  class="table table-condensed table-bordered table-striped">
          <th ng-if="vm.authentication.sucursal == 'superUser'">Empresa</th>
          <th ng-class="{'col-3 text-center': vm.authentication.sucursal == 'superUser',
          'col-1 text-center': vm.authentication.sucursal !== 'superUser'}">Impuesto</th>
          <th class="col-5 text-center">Impuesto %</th>
          <th class="col-5 text-center">Moneda</th>
          <th class="col-5 text-center">Logo</th>
          <tr dir-paginate="partner in vm.partnerServices.partnersList | itemsPerPage: 15" total-items="vm.partnerServices.total" current-page="vm.partnerServices.page">
           <td class="text-center">{{partner.name}}</td>
           <td class="text-center">{{partner.imp_Type}}</td>
           <td  class="text-center">{{partner.imp_Porcentaje}}</td>
           <td class="text-center">
            <span>{{partner.moneda}}</span>
          </td>
          <td class="text-center">
          <img ng-src="{{partner.picturesURL | defaultImage: 'modules/core/img/no-imagen.jpg'}}" alt="" class=" profile-photo">
          </td>
          <td class="text-center">
            <div>
              <a href="#" data-skin="skin-red-light" class="btn btn-danger btn-xs" ng-disabled="partner.systemParam"><i class="fa fa-trash"
                ng-bootbox-confirm="Al eliminar este item eliminara su dependencia ¿seguro de querer eliminar parametro?"
                ng-bootbox-confirm-action="partner.systemParam || vm.delete(partner)"></i></a>
                <a href="#" data-skin="skin-blue" class="btn btn-primary btn-xs" ng-disabled="partner.systemParam"><i class="fa fa-edit"  ui-sref="partners.edit({partnerId:partner._id})"></i></a>
              </div>
            </td>
          </tr>
        </table>
        <dir-pagination-controls  on-page-change="vm.loadMore(newPageNumber, oldPageNumer)">
        </dir-pagination-controls>
        <div ng-show="vm.partnerServices.partnerList.length == 0 && !vm.partnerServices.isLoading" >
          <div class="alert alert-info" >
          <p class="text-center" >Ningun resultado fue encontrado en termino a la busqueda '{{ vm.partnerServices.partnerName }}'</p >
            </div >
          </div >
          <cc-spinner is-loading="vm.partnerServices.isLoading"
          message="Carando..." ></cc-spinner >
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
</div>
