<div class="wrapper">
<ng-include src="'modules/core/views/top-header.client.view.html'" ></ng-include >
  <ng-include src="'modules/core/views/menu.left.template.html'" ></ng-include >
    <div class="content-wrapper">
      <section>
        <div class="container">
          <div ng-if= "isSaving" class="loadsettings">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>

          <section>
  <div class="page-header">
   <!--  <h1>{{vm.product._id ? 'Edit Product' : 'New Product'}}</h1> -->
 </div>
 <div class="row">
  <div class="col-sm-12">
      <div ng-include="'modules/users/partials/user-setting-client.html'"></div>
 </div>
</div>
</section>

        </div>
      </section>
    </div>
    <ng-include src="'modules/core/views/menu.footer.template.html'" ></ng-include >
</div>



